<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="githooker-test-suite">
   <test name="githooker-test">
      <classes>
         <class name="com.pmachovec.githooker.GitHookerProjectStructureTest" />
         <class name="com.pmachovec.githooker.GitHookerTriggerTaskTest" />
         <class name="com.pmachovec.githooker.actions.SetGitHooksActionTest" />
      </classes>
   </test>
</suite>
